<div style="padding:1rem;background-color: lightgray">
  
  <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
  <div #first >
    <h2>En premier : </h2>
    <h4>Recherche un film que tu aimes bien (par titre anglais | exemple : 'Avengers')</h4>
    <input [(ngModel)]="title_search">
    <button (click)='search()'>Go</button>
  </div>

  <div #then *ngIf="first_search_ok" >
    <h2>Puis : </h2>
    <h4>Selectionne un film, puis clique sur OK</h4>
    <h4>Nous allons te selectionner une liste de film dans le même genre</h4>
    <!-- list -->

    <!-- MAKE COMPONENT !!! -->
    <!-- MAKE COMPONENT !!! -->
    <!-- MAKE COMPONENT !!! -->
    <!-- MAKE COMPONENT !!! -->
      <div *ngFor="let movie of found_list"
      style="width: 100%;
      display: inline-flex;margin-top: 1rem;
      height: 15rem;"
      >
      <!-- IMG -->
      <div style="width: 100%;opacity: 0.2;position: absolute;">
        <img style="width: 100%;
    height: 15rem;
    object-fit: none;" src="{{ 'https://image.tmdb.org/t/p/w1280/' + movie.backdrop_path }}">
      </div>
      <!-- DATA -->
      <div style="width: 100;display: flex;padding-left: 6vw;
    padding-right: 2vw;
    z-index: 2" >
        <div 
        style="width: 60vw">
        <div style="width: 100%" >
          <h3 style="width: 40%;display: initial;"> {{movie.title}}</h3>
          <button style="
          padding: 1rem; 
          height: 3rem;
          background-color: green" 
          (click)="goWithMovie(movie)"
          >CHOISIR</button>

        </div>
        <br>

   
          <textarea style="
          border: transparent;
              background: transparent;
              width: 100%;
              height: 9rem;
              font-size: large;
              font-weight: 600;"> {{movie.overview}}</textarea>
        </div>
        <div 
        style="width: 14vw">
          <img style="height: 15vmax;padding: 1rem" src="{{ 'https://image.tmdb.org/t/p/w1280/' + movie.poster_path }}">
        </div>

      </div>

      </div>

  </div>

  <div #and_now *ngIf="discovery_search_ok" >
    <h2>Voilà quelques exemples : </h2>
    <!-- list 2 -->

    <!-- MAKE COMPONENT !!! -->
    <!-- MAKE COMPONENT !!! -->
    <!-- MAKE COMPONENT !!! -->
    <!-- MAKE COMPONENT !!! -->
      <div *ngFor="let movie of discover_list"
      style="width: 100%;
      display: inline-flex;margin-top: 1rem;
      height: 15rem;"
      >
      <!-- IMG -->
      <div style="width: 100%;opacity: 0.2;position: absolute;">
        <img style="width: 100%;
    height: 15rem;
    object-fit: none;" src="{{ 'https://image.tmdb.org/t/p/w1280/' + movie.backdrop_path }}">
      </div>
      <!-- DATA -->
      <div style="width: 100%;display: flex;padding-left: 6vw;
    padding-right: 2vw;
    z-index: 2" >
        <div 
        style="width: 60vw">
          <h3> {{movie.title}}</h3>
          <textarea style="
          border: transparent;
              background: transparent;
              width: 100%;
              height: 9rem;
              font-size: large;
              font-weight: 600;"> {{movie.overview}}</textarea>
        </div>
        <div 
        style="width: 14vw">
          <img style="height: 15vmax;padding: 1rem" src="{{ 'https://image.tmdb.org/t/p/w1280/' + movie.poster_path }}">
        </div>
        <div 
        style="width: 14vw">

        </div>
      </div>

      </div>

  </div>

</div>

